.desktop {
    background-image: url('./assets/background.jpg'); /* Add your image URL here */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ensure the div takes up the full viewport height */
}