.outfit-frame{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    flex-direction: column;
    gap: 30px;
}
.clothing-element-frame {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    flex-direction: row;
    gap: 10px;
}

.tops-frame, .jackets-frame, .bottoms-frame, .shoes-frame {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 20vh; /* Full height of the viewport */
    width: 20vh;
}

.wardrobe-window {
    display: flex;
    flex-direction: row;
}

.options-section {
    display: flex;
    justify-content: center; /* Centers horizontally */
    flex-direction: column;
    gap: 20px
}

.options-button {
    width: "100%";
    height: 40px;
    background-color: palevioletred;
}

#random-outfit-button {
    background-color: #cba0c2
}

#weather-button {
    background-color: lightblue;
}

#occasion-button {
    background-color: lightyellow;
}

/* #88245c - colour of the banner*/ 

.background {
    background-image: url('./assets/background.jpg');
}